Source: mali-t76x-drivers-x11
Section: graphics
Priority: optional
Maintainer: Andrew Lee (李健秋) <andrew.lee@collabora.co.uk>
Standards-Version: 3.9.4
Build-Depends: debhelper (>= 9), libump-dev, libxfixes-dev, libxext-dev,
 libxdamage-dev, libdrm-dev

Package: mali-t76x-drivers-rk3288
Section: libs
Architecture: armhf
Depends: ${misc:Depends}, ${shlibs:Depends}, mali-t76x-corelibs
Pre-Depends: ${misc:Pre-Depends}, dpkg (>= 1.15.6~)
Breaks: libegl1-mali-t76x-rk3288, libgles2-mali-t76x-rk3288, mali-t76x-corelibs-rk3288
Replaces: libegl1-mali-t76x-rk3288, libgles2-mali-t76x-rk3288, mali-t76x-corelibs-rk3288
Provides: libgles2, libegl1, libegl1-x11
Multi-Arch: same
Description: Mali t76x EGL/GLESv2 for rk3288

Package: mali-t76x-corelibs
Section: libs
Architecture: armhf
Depends: ${misc:Depends}, ${shlibs:Depends}, libump1, glx-alternative-mali-t76x
Pre-Depends: ${misc:Pre-Depends}, dpkg (>= 1.15.6~)
Multi-Arch: same
Description: Mali t76x core libraries
